<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Programming 2 Exam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="greetingHeader">
        <h1 style="text-align: center">Welcome to student administration</h1><br>
    </div>
    <div>
        <a href="/student-overview"><button id="studentBtn" type="button" class="btn btn-primary btn-lg btn-block" onclick="captcha()">Students</button></a>
    </div>
    <div style="margin-top: 2%">
        <a href="/supervisor-overview"><button id="supervisorBtn" type="button" class="btn btn-secondary btn-lg btn-block">Supervisors</button></a>
    </div>
    <div class="card-footer text-muted">
        <p>Made by with 🖤 by HMTech Inc</p>
    </div>
</body>
</html>