<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Programming 2 Exam</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            <div class="greetingHeader">
                <br><h2>Student overview</h2>
            </div>
            <div class="container">
                <button id="viewStudentsBtn" class="btn btn-outline-info">Show students</button>
                <a href="/supervisor-overview"><button id="viewSupervisorBtn" class="btn btn-outline-info">Show supervisor</button></a>
            </div>
            <div>
                <table id="studentTable" class="table table-bordered">
                    <thead class="thead-dark">
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <!-- <th>Supervisor</th> -->
                    </thead>
                </table>
            </div>
        </main>
        <footer>
            <div class="card-footer text-muted">
                <p>Made by with 🖤 by HMTech Inc</p>
            </div>
        </footer>
        <script>
            $(document).ready(function()
            {
                //GET ALL STUDENTS
                $('#viewStudentsBtn').click(function ()
                {
                    $.ajax(
                        {
                            method: "GET", //HTTP REST API Request
                            url: 'http://localhost:8080/students' //Endpoint to an local URL
                        }).done(function(data)
                    {
                        $.each(data, function(i, student) {
                                //Append where the data gonna displayed by accessing the objects properties.
                                 $('<tr>').append(
                                    $('<td>').text(student.firstName),
                                    $('<td>').text(student.lastName),
                                    $('<td>').text(student.email)
                                    //$('<td>').text("#"+student.supervisorId+" "+student.supervisorName) //TODO: view data GO TO student.class
                                ).appendTo('#studentTable');
                            });
                    });
                })
            })
        </script>
    </body>
</html>